# SERIES

In [1]:
import numpy as np

In [2]:
import pandas as pd

 ## Creating Series from variety of data types

In [3]:
labels = [ 'a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a': 10, 'b':20, 'c': 30}

In [4]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=[sum, len, print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

 ## Indexing

In [14]:
s1 = pd.Series([1,2,3,4], ['USA', 'UK', 'Paris', 'Sydney'])

In [15]:
s2 = pd.Series([1,2,5, 4], ['USA', 'UK', 'Germany', 'Sydney'])

In [16]:
s1

USA       1
UK        2
Paris     3
Sydney    4
dtype: int64

In [17]:
s2

USA        1
UK         2
Germany    5
Sydney     4
dtype: int64

In [18]:
s1['USA']

1

In [19]:
s1 + s2

Germany    NaN
Paris      NaN
Sydney     8.0
UK         4.0
USA        2.0
dtype: float64

In [20]:
s1 - s2

Germany    NaN
Paris      NaN
Sydney     0.0
UK         0.0
USA        0.0
dtype: float64